@use 'reset';
@use 'variables' as *;

body {
  background: $backgroundColor;
  //font-size: 5vw;
}

button {
  width: 120px;
  height: 60px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;

  header {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/3052364/pexels-photo-3052364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45.5% 10%;
    padding-top: 10px;
    
    nav {
      width: 3rem;
      height: 3rem;
      background-color: white;
      margin: auto 10px auto auto;
    }

    h1 {
      max-width: 262px;
      font-size: 2em;
      color: red;
      text-align: center;
/*      margin: calc(50vh - 10px - 3rem) auto;  */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

    div {
      margin-top: 500px;
      display: flex;
      justify-content: space-evenly;

      button {
        width: 120px;
        height: 60px;
      }
    }
  }

  main {
    .introduction {
      background-color: blanchedalmond;
      margin: 3.125em 0;
      padding: 1em;
      text-align: justify;
      border: 2px solid black;
    }

    .menu {
      width: 280px;
      height: 600px;
      margin: 0 auto;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
    }

    .book-btn-big {
      margin: 3.125em 0;
    }
  }

  footer {
    width: 100%;
    height: 50px;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr 0.8fr 0.2fr;
    grid-template-rows: repeat(2, 1fr);

    .contact {
      margin: auto;
      text-align: center;
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }

    .social {
      margin: auto;
      text-align: center;
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
    }

    .copyr {
      margin: auto;
      text-align: center;
      grid-row: 2 / span 1;
      grid-column: 1 / span 4;
    }
  }
}